@charset "UTF-8";

@font-face {
  font-family: "IconsFont";
  src:url("../fonts/IconsFont.eot");
  src:url("../fonts/IconsFont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IconsFont.woff") format("woff"),
    url("../fonts/IconsFont.ttf") format("truetype"),
    url("../fonts/IconsFont.svg#IconsFont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "IconsFont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "IconsFont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment-o:before {
  content: "\61";
}
.icon-bell-o:before {
  content: "\62";
}
.icon-user:before {
  content: "\63";
}
.icon-map-marker:before {
  content: "\64";
}
.icon-compass:before {
  content: "\65";
}
.icon-heart:before {
  content: "\66";
}
.icon-bolt:before {
  content: "\67";
}
.icon-chevron-down:before {
  content: "\68";
}
.icon-bars:before {
  content: "\69";
}
.icon-chevron-right:before {
  content: "\6a";
}
.icon-chevron-left:before {
  content: "\6b";
}
.icon-caret-down:before {
  content: "\6c";
}
.icon-caret-up:before {
  content: "\6d";
}
.icon-caret-right:before {
  content: "\6e";
}
.icon-caret-left:before {
  content: "\6f";
}
